.Card, .MiniCard {
  /* border: 8px solid transparent; */
  border-radius: 8px;
  background-color: var(--primary-color, #646cff);
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  width: 100%;
  position: relative;

  min-width: 150px;
  min-height: 48px;
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 250px;

  overflow: hidden;
}

.MiniCard {
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: 100%;
  max-width: 236px;
  max-height: 236px;

  box-shadow: none;
  padding: 0px;
}

.Card:hover {
  cursor: pointer;
  color: #ffffff;
}

/* .Card:hover .CardIndex, .Card:hover .CardName {
  visibility: hidden;
} */

.Card.CardLiked {
  /* border: 8px solid #ff0000; */
}

.heart, .filledHeart {
  width: 32px;
  height: 32px;
}

.heart:hover, .filledHeart:hover {
  cursor: pointer;
}

.heart:hover {
  fill: #5056b0
}

.CardIndex, .MiniCardIndex {
  position: relative;
  font-size: 0.85rem;
  font-weight: bold;
  z-index: 1;
  /* text-decoration: underline; */
}

.CardName {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: var(--font-secondary);
  transform: translateX(-50%) translateY(-50%);
  width: max-content;
  text-align: center;
  max-width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  z-index: 1;
}

.MiniCardName {
  padding: 0px 12px;
  padding-top: 40px;

  width: max-content;
  max-width: calc(100% - 20px);

  text-align: center;

  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 1rem;
  z-index: 1;
}

.MiniCardContent {
  padding: 12px;

  width: 100%;
  max-width: calc(100% - 20px);

  text-align: center;

  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
}

.CardBg, .MiniCardBg {
  border-radius: 8px;
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.CardBgCover, .MiniCardBgCover {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

.CardOverlay {
  opacity: 0;
  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 8px 12px;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.CardOverlayContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.CardOverlay:hover {
  opacity: 1;
}

.CardOverlayContentRating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardOverlayContentRatingStars {
  display: flex;
  position: relative;
  height: 24px; /* Adjust based on your design */
  width: 120px; /* Adjust based on your design */
  background-color: #3330; /* Background color for empty stars */
  border-radius: 4px; /* Optional: for rounded corners */
}

.CardOverlayContentRatingStarsFilled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #555; /* Background color for filled stars */
  border-radius: 4px 0 0 4px; /* Optional: for rounded corners on the left side */
}

.CardOverlayContentRatingStarsEmpty {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%; /* Ensures it covers the whole area */
  /* background: url('../../assets/star.svg') repeat-x; Path to your star outline image */
  background-size: contain; /* Adjust the size of your stars */
}

.CardOverlayContentInfo {
  font-family: var(--font-secondary);
  display: flex;
  gap: 12px;
}

.CardOverlayContentTag {
  font-family: var(--font-secondary);
}

.directions {
  font-family: var(--font-secondary);
  background-color: var(--primary-color, #646cff);
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s;
  text-align: center;
}

.directions:hover {
  background-color: transparent;
  color: var(--primary-color, #646cff);
}

.MiniCardDirections {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  background-color: var(--primary-color, #646cff);
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s;
  text-align: center;
}

.MiniCardDirections:hover {
  background-color: transparent;
  color: var(--primary-color, #646cff);
}

@media (prefers-color-scheme: light) {
  .MiniCardDirections {
    background-color: #ffffff;
    color: var(--primary-color, #646cff);
  }
  .directions {
    background-color: var(--primary-color, #646cff);
    color: #ffffff;
  }
  .directions:hover {
    background-color: #f9f9f9;
    color: var(--primary-color, #646cff);
  }
  .Card:hover {
    color: #000000;
  }
}

@media (max-width: 768px) {
  .Card {
    min-width: calc(100% - var(--app-padding-horizontal));
    max-width: calc(100% - var(--app-padding-horizontal));
  }
}